{% extends 'blog/base.html' %}
{% block content %}
<h2>Profile</h2>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p><strong>Username:</strong> {{ user.username }}</p>
	{{ user_form.email.label_tag }} {{ user_form.email }}<br><br>
	{{ profile_form.bio.label_tag }}<br>{{ profile_form.bio }}<br><br>
	{% if user.profile.profile_pic %}
		<img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture" width="120"><br>
	{% endif %}
	{{ profile_form.profile_pic.label_tag }} {{ profile_form.profile_pic }}<br><br>
	<button type="submit">Update Profile</button>
</form>
<p><a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}
